<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Passoword Security</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />

</head>



<body>


	<div class="header">
		
		<img src="/images/password.png" class="img-responsive center-block img-header" alt=""/>
		<h1 class="text-center headline">Password Security</h1>
		<h2 class="text-center subheadline">Avaliador de segurança de senha</h2>
	</div>
	
	<div class="col-lg-4 col-lg-offset-4">

		<div class="panel panel-default">
		  <div class="panel-body">A Basic Panel</div>
		</div>
	
	</div><!--.container-->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.5/bootstrap-notify.min.js"></script>

	<div class="footer-bottom">

		<div class="container">

			<div class="row">

				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

					<div class="copyright">

						© 2016, Vitor Carrilho, All rights reserved

					</div>

				</div>

				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

					<div class="design">

						 <a href="https://www.linkedin.com/in/vitorgcarrilho">Vitor Carrilho </a> |  <a target="_blank" href="https://github.com/VitorGCarrilho/">Java Developer</a>

					</div>

				</div>

			</div>

		</div>

	</div>






	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>
</html>